#wpadminbar li#wp-admin-bar-pantheon-hud > .ab-item img {
	display:inline;
	height:32px;
	width:32px;
	vertical-align:middle;
	margin-top:-4px;
}
#wpadminbar li#wp-admin-bar-pantheon-hud em {
	font-size: 11px;
	line-height: 13px;
	font-style: italic;
}
#wpadminbar li#wp-admin-bar-pantheon-hud br {
	line-height: 0;
}
#wpadminbar #wp-admin-bar-pantheon-hud-wp-admin-links a {
	display: inline;
	padding:0;
	height: auto;
}
#wpadminbar ul li#wp-admin-bar-pantheon-hud-wp-admin-links .ab-item,
#wpadminbar ul li#wp-admin-bar-pantheon-hud-environment-details .ab-item,
#wpadminbar ul li#wp-admin-bar-pantheon-hud-wp-cli-stub .ab-item {
	height: auto;
}
#wpadminbar ul li#wp-admin-bar-pantheon-hud-wp-cli-stub input {
	width: 100%;
	line-height: 15px;
	background-color: rgba( 255, 255, 255, 0.9 );
	border-width: 1px;
}
#wpadminbar ul li#wp-admin-bar-pantheon-hud-dashboard-link {
	padding-left: 3px;
	padding-right: 3px;
}
#wpadminbar ul li#wp-admin-bar-pantheon-hud-dashboard-link a {
	border-top: 1px solid rgba(240,245,250,.4);
	padding-top: 3px;
	margin-top: 10px;
}
