name: Validate Plugin "Tested Up To" Version
on:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:
permissions:
  contents: write
  pull-requests: write

jobs:
  validate-wp-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Validate Plugin Tested Up To Version
        uses: jazzsequence/action-validate-plugin-version@6b8b403af6e9eefde9c36c0d342b717d5952b518 # v2.0.1
        with:
          filenames: 'readme.txt,README.md'
          branch: 'main'
