name: Validate Plugin "Tested Up To" Version
on:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:
permissions:
  contents: write
  pull-requests: write

jobs:
  validate-wp-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Validate Plugin Tested Up To Version
        uses: jazzsequence/action-validate-plugin-version@33b0e43e436229825afc8427b19829a0c9aea498 # v2.0.0
        with:
          filenames: 'readme.txt,README.md'
          branch: 'main'
